.test-page{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/f6.png'); /* Path to your image */ 
}

.test-page header{
    width: 100%;
    height: 10vh;
    /* background-color: violet ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.test-page header h3{
    margin-left: 15px;
    color: var(--c1);
    border: solid 1px;
    border-radius: 10rem;
    padding: 2px 8px;
}


.test-page header .coin-cnt{
    background-color: var(--c1);
    width: 100px;
    height: 50px;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-right: 15px;
}

.test-page header .coin-cnt p{
    color: var(--c2);
    margin-left: 5px;
}

.test-page header .coin-cnt .img-cnt{
    background-color: var(--c3);
    width: 45px;
    height: 45px;
    border-radius: 5rem;
}

.test-page header .coin-cnt .img-cnt img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire div */
}

.test-page .qs{
    /* background-color: aqua; */
    height: 90vh;
    width: 100%;
    text-align: center;
    align-items: center;

}
.test-page .qs .img-cnt{
    width: 90%;
    background-color: blue;
    height: 30vh;
    margin: 5%;
    margin-top: 0;
    border-radius: 1rem;

}

.test-page .qs .img-cnt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.test-page .btn{
    height: 50px;
    text-align: center;
    width: 80%;
    margin: 0 10%;
    border-radius: 1rem;
    align-items: center;
    margin-top: 25px;
}

.test-page .btn h3{
    background-color: var(--c1);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 1px var(--c4);
    /* width: fit-content; */

}

.test-page .qs p, .test-page .qs h1 {
    color: var(--c1);
    text-align: left;
    margin-left: 25px;
}

.red{
    color: var(--c7);
}

.green{
    color: var(--c5);
}

.test-page .qs .res-cnt{
    /* background-color: aqua; */
    width: 100%;
    height: 20vh;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    
}

.test-page .qs .res-cnt p{
    text-align: center;
    align-items: center;
}

.test-page .qs .res-cnt .img-cnt-res{
    
    /* background-color: aquamarine; */
    height: 80px;
    align-items: center;
    margin-top: 20px;
}

.test-page .qs .res-cnt .img-cnt-res img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 701px) and (max-width: 1000px){
    .test-page .qs .img-cnt{
        width: 60%;
        background-color: blue;
        height: 30vh;
        margin: 5% 20%;
        margin-top: 0;
        border-radius: 1rem;
    
    }

}
@media screen and (min-width: 1001px) and (max-width: 1199px){
    .test-page .qs .img-cnt{
        width: 50%;
        background-color: blue;
        height: 30vh;
        margin: 5% 25%;
        margin-top: 0;
        border-radius: 1rem;
    
    }

}
@media screen and (min-width: 1200px){
    .test-page .qs .img-cnt{
        width: 60%;
        background-color: blue;
        height: 30vh;
        margin: 5% 20%;
        margin-top: 0;
        border-radius: 1rem;
    
    }

    .test-page{
        width: 40vw;
        margin: 0 30vw;
        height: 100vh;
        /* background: none; */
        overflow: hidden;
    }
    body{
        /* background-color: aqua; */
        /* background-image: url('/img/f6.png'); */
        background-color: var(--c3);
        
    }

}